.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
  align-self: center;
  margin-top: 47px;

  @media (max-width: 880px) {
    max-width: 640px;
    justify-content: center;
    margin-top: 30px;
  }

  @media (max-width: 585px) {
    max-width: 288px;
    margin-top: 8px;
  }
}
