.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 32px;

    @media (max-width: 585px) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 24px;
    }
  }

  p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  textarea {
    margin: 32px 0 52px 0;
    width: 416px;
    height: 132px;
    background: #F9F9FA;
    padding: 19px 12px;
    border: none;
    resize: none;
    font-size: 14px;

    @media (max-width: 585px) {
      width: 256px;
    }

    &::placeholder {
      color: #A7A7A7;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    border: none;
    width: 416px;
    height: 52px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    background:
      linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
    color: white;
    cursor: pointer;

    @media (max-width: 585px) {
      width: 256px;
      height: 40px;
      border-radius: 20px;
      font-size: 12px;
    }

    &:hover {
      box-shadow: 0 2px 5px rgba(54, 54, 54, 0.1);
    }

    &:active {
      box-shadow:
        0 3px 4px rgba(222, 125, 11, 0.2),
        0 1px 10px rgba(249, 89, 8, 0.2);
    }
  }
}
